<nav class="navbar navbar-light" style="background-color: #5CB1EF;">

	<a class="navbar-brand" href="#">CVPlus</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		
			<li class="nav-item"><a class="nav-link"  th:href="@{/students}">Estudiantes</a></li>
			<li class="nav-item"><a class="nav-link"  th:href="@{/micv}">Mi CV</a></li>
			<li class="nav-item"><a class="nav-link"  th:href="@{/miportafolio}">Mi Portafolio</a></li>
		</ul>

	</div>
</nav>