<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Actualizar Estudiante</div>
			<div class="card-body">

				<form th:object="${student}" th:action="@{/students/update/{IdStudent}(IdStudent=${student.IdStudent})}"
					th:method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{IdStudent}" />
					</div>

					<div class="form-group">
						<label for="FirstName">Nombre</label> <input type="text"
							class="form-control" id="FirstName" aria-describedby="FirstName"
							th:field="*{FirstName}" placeholder="type here ..." />
					</div>

					<div class="form-group">
						<label for="LastName">Apellido</label> <input type="text"
							class="form-control" id="LastName" aria-describedby="LastName"
							th:field="*{LastName}" placeholder="type here ..." />		
					</div>

					<div class="form-group">
						<label for="Dni">DNI</label> <input type="text"
							class="form-control" id="Dni" aria-describedby="Dni"
							th:field="*{Dni}" placeholder="type here ..." />		
					</div>
					
						<div class="form-group">
						<label for="Email">Email</label> <input type="text"
							class="form-control" id="Email" aria-describedby="Email"
							th:field="*{Email}" placeholder="type here ..." />		
					</div>
					
					<div class="form-group">
						<label for="Rubro">Rubro</label> <input type="text"
							class="form-control" id="Rubro" aria-describedby="Rubro"
							th:field="*{Rubro}" placeholder="type here ..." />		
					</div>
					
					<div class="form-group">
						<label for="Categoria">Categoria</label> <input type="checkbox"
							class="form-control" id="Categoria" aria-describedby="Categoria"
							th:field="*{Categoria}" placeholder="type here ..." />		
					</div>
					<div class="form-group">
						<label for="Numero">Numero</label> <input type="text"
							class="form-control" id="Numero" aria-describedby="Numero"
							th:field="*{Numero}" placeholder="type here ..." />		
					</div>
						<div class="form-group">
						<label for="Contrasenia">Contrasenia</label> <input type="text"
							class="form-control" id="Contrasenia" aria-describedby="Contrasenia"
							th:field="*{Contrasenia}" placeholder="type here ..." />		
					</div>
					
					

					<a th:href="@{/students/}" class="btn btn-primary">Regresar</a>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>